.app-wrap{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 20rem 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "app-bar app-bar app-bar"
        "app-menu app-content app-content"
        "app-footer app-footer app-footer"
}
.app-bar-wrap{
    background: #aaa;
    grid-area: app-bar;
}
.app-menu-wrap{
    background: #eee;
    grid-area: app-menu;
}
.app-content-area-wrap{
    background: #eee;
    grid-area: app-content;
}
.app-footer-wrap{
    background: #aaa;
    grid-area: app-footer;
}