.show-color{
    width: 5rem;
    height: 2rem;
}
.brandPrimary{
    background-color: var(--brand-primary);
}
.brandSecondary{
    background-color: var(--brand-secondary);
}
.desc {
    font-style: italic;
    font-size: 1.2rem;
}