@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  /*Basic Colors*/
  --white: #ffffff;
  --brand-primary: #0071bc;
  --brand-secondary: #3fa9f5;
  --success: #22ce8b;
  --success-lite: lighten(var(--success), 10%);
  --error: #f46363;
  --error-lite: lighten(var(--error), 10%);
  --warning: #ffcd54;
  --warning: lighten(var(--warning), 10%);

  /*Text Colors*/
  --text-primary: #040e28;
  --text-secondary: #646d82;
  --disabled: #a6b1c2;

  /*Drop shadow color*/
  --shadow-color: rgba(148, 148, 148, 0.25);

  /*Background Greys*/
  --bg-grey-dark: #dce1ea;
  --bg-grey-medium: #e6eaf0;
  --bg-grey-light: #f0f2f7;
  --bg-grey-lighter: #f9fafc;

  --main-bg-color: var(--bg-grey-light);

  /*Table Colors*/
  --table-row-hover: #d8e5f1;

  /*button colors*/
  --primary-button-color: #1F7FFF;

  
  --input-disabled-bg: var(--bg-grey-lighter);
}

/*shadow rules*/
.shadow-x1 {
  -webkit-box-shadow: 0 1px 2px var(--shadow-color);
  -moz-box-shadow: 0 1px 2px var(--shadow-color);
  box-shadow: 0 1px 2px var(--shadow-color);
}
.shadow-x2 {
  -webkit-box-shadow: 0 2px 4px var(--shadow-color);
  -moz-box-shadow: 0 2px 4px var(--shadow-color);
  box-shadow: 0 2px 4px var(--shadow-color);
}
.shadow-x3 {
  -webkit-box-shadow: 0 4px 8px var(--shadow-color);
  -moz-box-shadow: 0 4px 8px var(--shadow-color);
  box-shadow: 0 4px 8px var(--shadow-color);
}
.shadow-x4 {
  -webkit-box-shadow: 0 6px 12px var(--shadow-color);
  -moz-box-shadow: 0 6px 12px var(--shadow-color);
  box-shadow: 0 6px 12px var(--shadow-color);
}
.shadow-x5 {
  -webkit-box-shadow: 0 8px 16px var(--shadow-color);
  -moz-box-shadow: 0 8px 16px var(--shadow-color);
  box-shadow: 0 8px 16px var(--shadow-color);
}

/*html element level style rules*/
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2rem;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;
}
li {
  outline: 0;
}
input {
  border-radius: 0.2rem;
  border: 1px solid var(--bg-grey-dark);
  color: var(--text-primary);
  padding: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: normal;
  &:disabled {
    background-color: var(--input-disabled-bg);
  }
  &:read-only {
    border-color: var(--bg-grey-light);
    cursor: not-allowed;
  }
}

/*Table style rules*/
.table{
  width: 100%;
  position: relative;
  font-size: 1.4rem;
}
.thead{
  .tr{
    background-color: transparent;
  }
}
.tbody{
  .tr{background-color: var(--white);}
}
.tr{
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  border-radius: 0.2rem;
  padding: 0.3rem 1rem;
} 
.th {
  background: transparent;
  font-weight: normal;
  color: var(--text-secondary);
  font-size: 1.2rem;
}
.td {
  display: flex;
  align-items: center;
  vertical-align: center;
  text-align: left;
  min-height: 3.5rem;
  color: var(--text-primary);
}
.td-actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.td-user{
  display: flex;
  align-items: center;
  .td-img-wrap{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--bg-grey-medium);
    overflow: hidden;
    img{
      width: 100%;
    }
  }
}
.tr:hover {background-color: var(--table-row-hover);}
// .tr:nth-child(even) {background-color: var(--table-row-hover);}


/*Application level style rules*/
.app-wrap {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
  grid-template-rows: 6rem auto 4rem;
  grid-template-areas:
    "app-bar      app-bar       app-bar"
    "app-menu     app-content   app-content"
    "app-footer   app-footer    app-footer";
}
.app-bar-wrap {
  grid-area: app-bar;
}
.app-menu-wrap {
  background: #fff;
  grid-area: app-menu;
  border-right: 0.1rem solid var(--bg-grey-dark);
  max-height: 87vh;
  overflow-y: scroll;
}
.app-content-area-wrap {
  background: var(--main-bg-color);
  grid-area: app-content;
  max-height: 87vh;
  overflow-y: scroll;
}
.app-footer-wrap {
  background: #aaa;
  grid-area: app-footer;
}

.input-valid {
  border-color: var(--success);
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml,%3Csvg width='22px' height='11px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.input-invalid {
  border-color: var(--error);
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml,%3Csvg width='22px' height='11px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.search-wrap {
  border-radius: 2px;
  border: 1px solid var(--bg-grey-dark);
  padding-left: 0.7rem;
  background-color: var(--bg-grey-light);
  input {
    border: 0px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("assets/icon-set/search.svg");
    padding-left: 2rem;
    width: 100%;
    background-color: var(--bg-grey-light);
  }
}
.main-search {
  width: 50rem;
}

.checkbox {
  &:checked + label::before {
    background-color: var(--brand-primary);
  }

  &:checked + label::after {
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0.375rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid var(--brand-primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: "";
  }
}
.block-element{
  display: block;
  margin: 4rem 2rem 2rem 2rem;
}
.sect-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.4rem;
  line-height: 28px;
  color: var(--text-primary);
  margin-bottom: 2rem;
  .sect-headers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--text-secondary);
    .headers-block{
      display: flex;
      align-items: center;
      margin-left: 2rem;
      .head-item{
        display: flex;
        align-items: center;
        margin-left: 3rem;
        .head-val{
          font-weight: bold;
          margin-left: 1rem;
        }
        .tbl-right-actions{
          background-color: var(--white);
          border: 0.1rem solid var(--bg-grey-dark);
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0.1rem 1rem; 
          cursor: pointer; 
          min-height: 2.5rem;
          label{
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
